<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyHbRLd89tq1QCpLjLxQpKQmizDQHvy4w</string>
	<key>GCM_SENDER_ID</key>
	<string>982759520741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ao.riskplace.makanetu</string>
	<key>PROJECT_ID</key>
	<string>riskplace-ao</string>
	<key>STORAGE_BUCKET</key>
	<string>riskplace-ao.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982759520741:ios:c11f3fbb13d55b8d91d70c</string>
	<key>DATABASE_URL</key>
	<string>https://riskplace-ao-default-rtdb.firebaseio.com</string>
</dict>
</plist>